
block content
  h1= title
  p The weather is for Bristol, United Kingdom is #{weather}
  p The temperature is #{temp} #{degrees}
  p This weather was reported at #{time}
  a(class='button', href='/sendWeatherAPI') Get Weather